body {
  background-color: rgb(39, 38, 38);
  color: rgb(216, 216, 216);
}

#container {
  max-width: 320px;
  margin: 2rem auto;
  position: absolute;
}

.good,
.bad {
  display: none;
}
.button {
  background-color: #2932eb; /* Green */
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#emcee {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 700px) {
  #container {
    width: 400px;
  }

  img {
    max-width: 75%;
    max-height: 75%;
  }
}
